body {background-color: #62a8c9}

body {
    text-align: center;
  }

  .owl {
    font-family: fantasy;
  }

  .secret {
    opacity: 0.5;
  }
  
  ul {
    list-style-type: none;
  }

table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
}

table {
  margin: 0 auto;
}

.cabbage {
  color: CHARTREUSE;
}

tr:nth-child(odd) {
  background-color: rgba(112, 112, 125, 0.5);
  color: aliceblue;
}

tr:nth-child(even) {
  background-color: rgba(18, 18, 19, 0.5);
  color: rgb(184, 189, 190);
}

img {
  padding-top: 30px;
  height: 400px;
}

#container {
  background-color: rgb(205, 188, 188)
}

h1{
  background-color: aliceblue;
  font-style: italic;
}